    [Unit]
    Description=Synch service
    After=network.target
    [Service]
    Type=simple
    Restart=always
    RestartSec=1
    User=__USER__
    ExecStart=__INSTALL_DIR__/__EXEC_FILE__
    StandardOutput=syslog
    StandardError=syslog
    SyslogIdentifier=synch
    [Install]
    WantedBy=multi-user.target